@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';


:root {
  --hover: #5b5b5b;
  --background: #eceaea;
  --foreground: #000000;
  --text: #000000;
  --logo-filter: invert(1) brightness(0);
}

[data-theme='dark'] {
  --hover: #d1d1d1;
  --background: #000000;
  --foreground: #eceaea;
  --text: #eceaea;
  --logo-filter: invert(0) brightness(1);
}

.primary{
  color: #000000;
}
.primary2{
  background-color: #000000;
}
.curve{
  color: var(--background);
}
.logo-filter{
  filter: var(--logo-filter);
}

body {
  background: var(--background);
  color: var(--foreground);
}


/* Optional: Add a soft shadow or background blur layer */

.blurry {
  backdrop-filter: blur(10px);
  background: rgba(51, 51, 51, 0.6);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* border: 1px solid rgba(215, 210, 210, 0.3); */
}

/* irridescence comp */

.iridescence-container {
  width: 100%;
  height: 100%;
}

/* Active bullet */
.custom-swiper .swiper-pagination-bullet-active {
  background-color: #ffffff; /* active color (e.g., red-400) */
  transform: scale(1.2); /* optional: slight zoom */
}

/* shiny text comp */

.shiny-text {
  color: #b5b5b5a4; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}

/* animated text */
@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(5px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-5px); }
}

.animate-fade {
  animation: fadeInOut 3s ease-in-out forwards;
}


/* pulse in header */
.zoom{
  background-color: #07d973; /* Adjust color as needed */
  border-radius: 50%;
  width: 10px; /* Adjust size as needed */
  height: 10px; /* Adjust size as needed */
  animation: zoom 2s infinite;
  transform: scale(1);
}

@keyframes zoom {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}

/* tilted card comp */

.tilted-card-figure {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tilted-card-mobile-alert {
  position: absolute;
  top: 1rem;
  text-align: center;
  font-size: 0.875rem;
  display: none;
}

@media (max-width: 640px) {
  .tilted-card-mobile-alert {
    display: block;
  }
  .tilted-card-caption {
    display: none;
  }
}

.tilted-card-inner {
  position: relative;
  transform-style: preserve-3d;
}

.tilted-card-img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 15px;
  will-change: transform;
  transform: translateZ(0);
}

.tilted-card-overlay {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 2;
  will-change: transform;
  transform: translateZ(30px);
}

.tilted-card-caption {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
  background-color: #fff;
  padding: 4px 10px;
  font-size: 10px;
  color: #2d2d2d;
  opacity: 0;
  z-index: 3;
}

/* threads */
.threads-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* particle bg */
.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* variable proximity */
.variable-proximity {
  font-family: "Roboto Flex", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


/* scroll styling */
.scrollbar::-webkit-scrollbar {
  height: 3px; /* Height of the horizontal scrollbar */
  background: #474747; /* Scrollbar background color */
  border-radius: 10px; /* Rounded scrollbar */
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--foreground); /* Thumb color */
  border-radius: 10px; /* Rounded thumb */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #000000; /* Slightly darker color on hover */
}