@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

*{
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s ease all;	
}
html {
  transition: background-color 0.3s, color 0.3s;
  scroll-behavior: smooth;
}

.container {
  height: 100vh;
  position: relative;
}

.panel {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background: white;
  z-index: 1;
}

.panel:nth-child(1) { background-color: #f8b400; }
.panel:nth-child(2) { background-color: #00b4d8; }
.panel:nth-child(3) { background-color: #6a4c93; }